# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Egg Grabber.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Egg Grabber\.idea\.idea.Egg Grabber\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
